* {
  margin: 0px;
  padding: 0px;
}
/*Background Section Start*/
body {
  font-family: "Roboto", sans-serif;
  background-image: url(background.png);
  background-size: cover;
  position: relative;
}
body::before {
  position: absolute;
  content: "";
  background: white;
  width: 100%;
  height: 100vh;
  top: -70px;
  opacity: 0.6;
}
/*Background Section end*/
/*From Section Start*/
form {
  width: 425px;
  height: 600px;
  margin-left: 35%;
  margin-top: 5%;
  box-shadow: 0px 5px 8px 3px #aaaa;
  border-radius: 5px;
  background: white;
  z-index: 10;
  position: relative;
}
#all {
  width: 180px;
  border-radius: 5px;
  background: #e6e6e6;
  height: 35px;
  border: 1px solid #aaaa;
  font-size: 15px;
  margin-left: 12px;
  margin-top: 10px;
  padding-left: 10px;
}
#all1 {
  width: 390px;
  background: #e6e6e6;
  height: 35px;
  border: 1px solid #aaaa;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 12px;
  margin-top: 10px;
  padding-left: 10px;
}
.submit {
  width: 200px;
  height: 40px;
  background: #0ebd02;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  margin-left: 25%;
  margin-top: 0px;
}
.submit:hover {
  opacity: 60%;
}
.avatar{
   margin: 20px
}
/*last section end*/